@font-face {
	font-family: "Amatic SC";
	font-style: normal;
	font-weight: 400;
	src: local("Amatic SC"), local("Amatic SC"),
		url(../resources/fonts/AmaticSC-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "bebas";
	font-style: normal;
	font-weight: 400;
}

$color-white: #fff;
$color-black: #333;
$color-grey10: rgba($color-black, 0.1);
$color-grey25: rgba($color-black, 0.25);

$primary-color: #a73814;
$primary-color: #e5ff73;
$primary-color: #edff75;
//$primary-color:   #333;
$secondary-color: #3ba714;
$secondary-color: #246eb9;
$secondary-color: #0066cc;
$third-color: #f06543;
$third-color: #bf1363;
$third-color: #eb3389;
$third-color: #88ccf1;
$text-color: $color-black;
$link-color: $secondary-color;

$border-color: $text-color;
$border-width: 2px;
$border: $border-width solid $border-color;

$logo-font: "Amatic SC";
$menu-font: "roboto condensed", Lexend, open-sans, sans-serif;
$heading-font: "roboto condensed", Lexend, open-sans, sans-serif;
$body-font: "roboto", Lexend, open-sans, sans-serif;
$serif-font: "roboto", serif;
