@import "variables";
@import "mixins";

/**
 * Shop page
 * Single product page
 * Single product gallery
 * Cart page
 * Checkout page
 */

/**
 * ========================== Shop page
 */

body.woocommerce-shop .site-content {
	.woocommerce {
		max-width: 72ch;
		margin: 0 auto;
	}
	.page-description {
		margin: 0 auto 2rem;
		h2,
		h3,
		h4 {
			@media (max-width: 640px) {
				hyphens: auto;
			}
		}
		p {
			margin-bottom: 0.8rem;
			hyphens: auto;
			a {
				&:hover {
					@include link-hover;
				}
			}
		}
	}
}

// the product grid

.products {
	margin: -2px calc(min(calc((min(100vw, 1200px) - 72ch) / -2), -26px));
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	border-top: 2px solid $color-black;
	border-left: 2px solid $color-black;
	&.columns-4 {
	}
	.product {
		flex: 0 0 calc(100% / 4);
		padding: 24px;
		@media (max-width: 1024px) {
			flex: 0 0 calc(100% / 3);
			padding: 18px;
		}
		@media (max-width: 640px) {
			flex: 1 0 100%;
		}
		border-right: 2px solid $color-black;
		border-bottom: 2px solid $color-black;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.woocommerce-loop-product__link {
			display: block;
			height: 100%;
			display: flex;
			flex-direction: column;
			color: $text-color;
			&:hover {
				.attachment-woocommerce_thumbnail {
					//opacity: 0.9;
				}
				h2 {
					@include link-hover;
				}
			}
			.attachment-woocommerce_thumbnail {
				max-width: 100%;
				height: auto;
			}
			h2 {
				color: $link-color;
				margin: 16px 0 8px;
				font-size: 1.6rem;
				line-height: 1.1;
			}
			.short-description {
				margin-bottom: 16px;
				font-size: 1rem;
			}
			.price {
				margin: auto 0 16px;
				font-family: $heading-font;
				font-size: 1.4rem;
				font-weight: 600;
				text-align: right;
			}
		}
		.added_to_cart {
			margin-top: 1rem;
			color: $primary-color;
			&:hover {
				text-decoration: underline;
				text-decoration-thickness: 2px;
				text-underline-offset: 4px;
			}
		}
	}
}

/**
 * ========================== Single product page
 */

/* many props already defined in body.single */
body.single-product .site-content {
	.woocommerce {
		.woocommerce-notices-wrapper {
			margin-bottom: 24px;
			.button {
				margin-right: 24px;
			}
		}
		.product {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.woocommerce-product-gallery {
				flex: 0 1 50%;
				overflow: auto;
				& > .woocommerce-product-gallery__wrapper,
				.flex-viewport {
					border: 2px solid $color-black;
					aspect-ratio: 4/3;
					width: 100% !important;
					height: auto !important;
					.woocommerce-product-gallery {
						&__wrapper {
							margin: 0;
							transition-duration: 0 !important;
						}
						&__image {
							aspect-ratio: 4/3;
							display: flex !important;
							align-items: center;
							& > a {
							}
						}
					}
				}
				.flex-control-thumbs {
					padding: 0;
					list-style: none;
					li {
						margin: 1rem 1rem 0 0;
						display: inline-block;
						cursor: pointer;
						img {
							border: 2px solid transparent;
							&.flex-active {
								border: 2px solid $color-black;
							}
							&:hover {
								border: 2px solid $color-black;
							}
						}
					}
				}
			}
			.entry-summary {
				flex: 0 1 50%;
				padding-left: 2rem;
				@media (max-width: 1024px) {
					padding-left: 1rem;
				}
				.entry-title {
					margin-top: 0;
				}
				.price {
					margin: 2rem 0;
					font-family: $heading-font;
					font-size: 2rem;
					font-weight: 600;
				}
				.woocommerce-product-details__short-description {
					margin: 2rem 0;
				}
				.cart {
					margin: 2rem 0;
					.quantity {
						margin: 1rem 0;
					}
				}
			}
			.woocommerce-tabs {
				flex: 100%;
				margin: 2rem -24px 1rem;
				.tabs {
					padding: 0 24px;
					border-bottom: 2px solid $color-black;
					.description_tab {
						padding: 8px 16px;
						display: inline-block;
						border: 2px solid $color-black;
						border-bottom: none;
					}
				}
				& > .panel {
					padding: 24px;
					margin: 0;
				}
			}
			.related {
				flex: 100%;
				display: block;
				margin: 0 -24px;
				border-left: 0;
				& > h2 {
					padding: 24px;
					margin: 0;
					background-color: $primary-color;
				}
				.products {
					margin: 0;
					display: flex;
					flex-wrap: wrap;
					border-left: none;
					.product {
						flex-direction: column;
						flex-wrap: nowrap;
						border-bottom: none;
					}
				}
			}
		}
	}
}

/**
 * ========================== Cart page
 */

.shop_table {
	thead {
		th {
			padding-bottom: 0.2rem;
			border: none;
			&.product-price {
				text-align: right;
			}
			&.product-quantity {
				text-align: center;
			}
			&.product-subtotal {
				text-align: right;
			}
		}
	}
	tbody {
		.product-remove {
			a.remove {
				@include button;
				width: 1.5rem;
				height: 1.5rem;
				padding: 0;
				border-radius: 50%;
				display: inline-block;
				line-height: 1.05;
			}
		}
		.product-thumbnail {
			max-width: 200px;
			&:hover {
				opacity: 0.9;
			}
		}
		.product-name {
			font-family: $menu-font;
			font-weight: 500;
			a:hover {
				text-decoration: underline;
				text-decoration-thickness: 2px;
				text-underline-offset: 3px;
			}
		}
		.product-price {
			text-align: right;
		}
		.product-quantity {
			text-align: center;
		}
		.product-subtotal {
			text-align: right;
		}
		.actions {
			padding: 2rem 0 1rem 1rem;
			text-align: right;
		}
		.cart-subtotal,
		.shipping,
		.tax-rate,
		.order-total {
			vertical-align: top;
			td {
				text-align: right;
			}
		}
	}
}

.cart-collaterals {
	margin-bottom: 2rem;
	display: flex;
	justify-content: end;
	.cart_totals {
		width: 50%;
		.shop_table {
			margin: 2rem 0 1rem;
			text-align: left;
		}
		.wc-proceed-to-checkout {
			text-align: right;
		}
	}
}

/**
 * ========================== Checkout page
 */

body.page .site-content .entry-content .woocommerce-checkout {
	overflow: auto;
	// general definitions
	h3 {
		margin-top: 0;
	}
	.woocommerce-error {
		padding-left: 16px;
		margin-bottom: 2rem;
		border-left: 5px solid red;
		font-size: 1rem;
	}
	.form-row {
		margin-bottom: 2rem;
		label {
			display: block;
			font-size: 0.9rem;
		}
		.input-text {
			width: 100%;
		}
		&-first {
			width: 47%;
			float: left;
		}
		&-last {
			width: 47%;
			float: right;
		}
		&-wide {
			clear: both;
		}
	}
	// layout
	#customer_details {
		width: calc(50% - 2px);
		padding-right: 2rem;
		@media (max-width: 1024px) {
			padding-right: 1rem;
		}
		margin-left: 2px;
		float: left;
		.woocommerce-shipping-fields,
		.woocommerce-additional-fields {
			margin: 2rem 0;
		}
	}
	#order_review_heading {
		width: 50%;
		padding-left: 2rem;
		float: right;
		clear: right;
	}
	#order_review {
		width: 50%;
		padding-left: 2rem;
		@media (max-width: 1024px) {
			padding-left: 1rem;
		}
		float: right;
		clear: right;
		.woocommerce-checkout-review-order-table {
			margin-bottom: 2rem;
			td {
				padding: 6px 0;
				border: none;
			}
			thead {
				display: none;
			}
			tbody {
				border-bottom: $border;
				.product-name {
					font-family: $body-font;
				}
				.product-total {
					text-align: right;
				}
			}
			tfoot tr {
				th {
					padding: 6px 0;
					border: none;
					text-align: left;
				}
				& > td {
					text-align: right;
				}
				.amount {
					text-align: right;
				}
				.order-total {
					border-top: $border;
				}
			}
		}
		.woocommerce-checkout-payment {
			margin: 2rem 0;
			.wc_payment_methods {
				margin: 2rem 0;
				.wc_payment_method {
					input[name="payment_method"] {
						display: initial !important;
					}
					.payment_box {
						padding: 1rem;
						background-color: $color-grey10;
					}
				}
			}
			.place-order {
				.woocommerce-privacy-policy-text p {
					margin-bottom: 1rem;
				}
			}
			.woocommerce-terms-and-conditions-wrapper {
				& > .form-row label {
					font-size: inherit;
				}
			}
		}
	}
}

.woocommerce-invalid input,
.woocommerce-invalid input[type="checkbox"] {
	border-color: red;
}
