@import "variables";

/**
 * ========================== CSS Reset rules
 */


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
	font-family: $body-font;
	font-size: 1.25rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
	height: auto;
}

input, button, textarea, select {
  font: inherit;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button {
	cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


/**
 * ========================== General rules
 */


html {
	color: $text-color;
	font-family: $body-font;
}

body {
	margin: 0;
	word-wrap: break-word;
}

a {
	color: $link-color;
	text-decoration: none;
}

blockquote {
	padding: 0 2rem 0 4rem;
	position: relative;
	font-family: $serif-font;
	font-style: italic;
	&:before {
		content: "\201C";
		position: absolute;
		top: -.5rem;
		left: 0;
		height: 5rem;
		color: rgba($text-color, 0.5);
		font-size: 5rem;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	line-height: normal;
}

h1, h2, h3 {
	margin: 2.2rem 0 0;
	color: $link-color;
}

h1 {
	font-size: 3rem;
	line-height: 1;
}

h2 { font-size: 2rem; }
h3 { font-size: 1.25rem; }

input {
	padding: 5px;
	border: 1px solid $color-grey25;
	border-radius: none;
}

p {}

table {
	width: 100%;
	border-collapse: collapse;
	thead {
		text-align: left;
	}
	th, td {
		padding: 1rem;
		border-top: 1px solid $text-color;
		border-bottom: 1px solid $text-color;
	}
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

/**
 * ========================== Regions
 */


.page-header {
	text-align: center;
}

.site-branding {
	font-family: $logo-font;
	font-weight: 700;
	font-size: 5rem;
	a {
		color: currentColor;
		&:active {
			color: $primary-color;
		}
		h1 {
			margin-bottom: 0;
			font-size: 4rem;
		}
	}
	.site-description {
		margin-top: 0;
		font-size: 2.2rem;
		fontr-weight: 400;
	}
	margin-bottom: 2rem;
}

.main-nav {
	margin: 2rem 0 6rem;
	border-top: 1px solid $color-black;
	border-bottom: 1px solid $color-black;
	.menu-wrapper {
		.menu-item {
			display: inline-block;
			font-family: $menu-font;
			a {
				display: inline-block;
				padding: .5rem 2rem;
				color: $color-black;
				font-weight: 500;
				&:hover {
					color: $color-white;
					background-color: $primary-color;
				}
			}
		}
	}
}

.secondary-nav {
	.menu-wrapper {
			max-width: 1200px;
			margin: 0 auto;
			font-family: $menu-font;
			text-transform: uppercase;
			text-align: right;
			.menu-item {
				display: inline-block;
				a {
					color: $primary-color;
					@include menu-link;
				}
			}
	}
}

.site-content {
	max-width: 900px;
	margin: 2rem auto;
	@media (max-width: 1199.98px) {
		margin: 2rem;
	}
}

.page-footer {
	padding: 4rem 0;
	background-color: $secondary-color;
	.content-wrapper {
		max-width: 1200px;
		margin: 0 auto;
		@media (max-width: 1199.98px) {
			margin: 0 2rem;
		}
		display: flex;
		.site-branding {
			flex: 2;
			a {
				color: $color-white;
				font-size: 2.8rem;
			}
		}
		.menu-main-menu-container,
		.menu-footer-menu-container {
			flex: 1 1 1;
			min-width: 20%;
			.menu {
				margin-top: .4rem; // align it nicely with the logo
				.menu-item {
					a {
						color: $color-white;
						@include menu-link;
					}
				}
			}
		}
	}
}


/**
 * ========================== Page
 */


.page, .post {
	.entry-header {
		margin: 0;
		line-height: 1;
		.entry-title {
			margin-bottom: 1rem;
		}
	}
	.entry-content {
		margin: 0 0 2rem 0;
		p {
			margin-bottom: .8rem;
			hyphens: auto;
			a:hover {
				text-decoration: underline;
				text-decoration-thickness: 2px;
				text-underline-offset: 4px;
			}
		}
		.excerpt {
			font-weight: 600;
			margin-bottom: 1.5rem;
		}
		> *:not(.woocommerce) {
			&:last-child {
				margin-bottom: 2rem;
			}
		}
		a.read-more {
			display: block;
			margin-top: 1rem;
		}
	}
	.entry-footer {
		margin: 2rem 0 4rem;
		font-size: .8em;
	}
	&.product {
		.entry-header {
			margin: 2rem 0;
		}
	}
}


/**
 * ========================== Components
 */


// General style for buttons
.button {
	@include button;
}

// Language switcher
.trp-language-switcher-container {}




// Product filter
.wpfMainWrapper {
	width: auto !important;
	margin: 2rem 8rem;
	.wpfFilterWrapper {
		width: auto !important;
		margin: 0;
		padding: 0;
		.wpfFilterTitle {
			cursor: auto;
			.wfpClickable {
				cursor: auto;
			}
		}
		.wpfFilterContent {
			ul.wpfFilterVerScroll {
				li {
					margin-right: 2rem;
					display: inline-block;
					label {
						display: inline-block;
						.wpfCheckbox {}
						.wpfDisplay {
							.wpfValue {
								padding: 0;
							}
						}
					}
				}
			}
		}
	}
	.wpfFilterButtons {
		display: inline-block;
	}
}

.related-posts {
	h2 {
		margin-bottom: 32px;
	}
	.post {
		max-width: 30%;
		background: $color-grey10;
		.entry-header {
			> *:not(.post-thumbnail) {
				padding: 8px;
			}
			h1 {
				font-size: 2rem;
			}
		}
		.entry-content,
		.entry-footer {
			padding: 8px;
			font-size: 1rem;
		}
	}
}