@import "variables";
@import "mixins";

/**
 * ========================== CSS Reset rules
 */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	font-family: $body-font;
	font-size: 1.25rem;
	line-height: 1.45;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

a[href],
input[type="submit"],
input[type="image"],
label[for],
select,
button {
	cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/**
 * ========================== General rules
 */

html {
	color: $text-color;
	font-family: $body-font;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
}

a {
	color: $link-color;
	text-decoration: none;
}

blockquote {
	margin: 2rem 4rem;
	position: relative;
	font-family: $serif-font;
	font-style: italic;
	&:before {
		content: "\201C";
		position: absolute;
		z-index: -1;
		top: -5.5rem;
		left: -2rem;
		height: 20rem;
		color: rgba($secondary-color, 0.5);
		font-size: 15rem;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font;
	line-height: normal;
}

h1,
h2,
h3 {
	@media (max-width: 640px) {
		hyphens: auto;
	}
	a {
		text-decoration: none;
		&:hover {
			@include link-hover;
		}
	}
}

h1 {
	margin: 2rem 0;
	font-size: 3rem;
	line-height: 1;
}

h2 {
	margin: 1rem 0 0.2rem;
	font-size: 2rem;
}
h3 {
	margin: 1rem 0 0.2rem;
	font-size: 1.5rem;
}

input {
	height: auto;
	padding: 6px 6px 2px;
	border: none;
	border-bottom: 2px solid $color-black;
	border-radius: 0;
	background-color: #efefef;
	line-height: normal;
	font-size: 1.2rem;
}

input[type="number"] {
	padding: 6px;
	border: 2px solid $color-black;
}

input[type="checkbox"] {
	width: 1em;
	height: 1em;
	padding: 0;
	margin-right: 0.2em;
	border: 2px solid currentColor;
	color: currentColor;
	appearance: none;
	font: inherit;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	&:before {
		content: "";
		width: calc(100% - 4px);
		height: calc(100% - 4px);
		opacity: 0;
		background-color: $secondary-color;
	}
	&:checked:before {
		opacity: 1;
	}
}

textarea {
	max-width: 100%;
	min-height: calc(3 * 1.2rem * 1.45 + 12px);
	padding: 6px;
	border: 2px solid $color-black;
	border-radius: 0;
	background-color: #efefef;
	line-height: normal;
	font-size: 1.2rem;
}

.select2-container--default.select2-container {
	.select2-selection--single {
		height: auto;
		padding: 6px 6px 2px;
		border: none;
		border-bottom: 2px solid $color-black;
		border-radius: 0;
		background-color: #efefef;
		font-size: 1.2rem;
		.select2-selection__arrow {
			top: 4px;
			right: 6px;
			b {
				border-color: $color-black transparent transparent;
				border-width: 7px 6px 0 6px;
			}
		}
	}
	&--open {
		.select2-selection--single {
			.select2-selection__arrow {
				b {
					border-color: transparent transparent $color-black;
					border-width: 0 6px 7px 6px;
				}
			}
		}
	}
	.select2-selection__rendered {
		padding-left: 0;
		line-height: 1.45;
		color: $color-black;
	}
}
.select2-container--default {
	.select2-results__option--highlighted[aria-selected] {
		background-color: $secondary-color;
	}
}

.select2-dropdown,
.select2-container--open .select2-dropdown--below {
	border: 2px solid $color-black;
	top: 2px;
	.select2-search {
		&--dropdown {
			padding: 8px;
		}
		&__field {
			border: 0;
			border-bottom: 2px solid $color-black;
		}
	}
}

p {
}

table {
	width: 100%;
	border-collapse: collapse;
	thead {
		text-align: left;
	}
	th,
	td {
		padding: 1rem;
		border-top: 2px solid $text-color;
		&:not(:last-of-type) {
			border-bottom: 2px solid $text-color;
		}
	}
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

/**
 * ========================== Regions
 */

.site-content {
	/*	max-width: 900px;
	margin: 2rem auto;
	@media (max-width: 1199.98px) {
		margin: 2rem;
	}
*/
	height: inherit;
	margin: -2px 0;
	.entry-header,
	.entry-content,
	.entry-footer {
		max-width: 1152px;
		margin: 0 auto;
	}
}

.site-main {
	height: inherit;
	max-width: 1200px;
	padding: 0 24px;
	@media (max-width: 1024px) {
		padding: 0 18px;
	}
	margin: 0 auto;
	border: 2px solid $color-black;
}

/**
 * ========================== Components
 */

// General style for buttons
.button {
	@include button;
}

// Language switcher
.trp-language-switcher-container {
}

// Product filter
.wpfMainWrapper {
	width: auto !important;
	margin: 2rem 8rem;
	.wpfFilterWrapper {
		width: auto !important;
		margin: 0;
		padding: 0;
		.wpfFilterTitle {
			cursor: auto;
			.wfpClickable {
				cursor: auto;
			}
		}
		.wpfFilterContent {
			ul.wpfFilterVerScroll {
				li {
					margin-right: 2rem;
					display: inline-block;
					label {
						display: inline-block;
						.wpfCheckbox {
						}
						.wpfDisplay {
							.wpfValue {
								padding: 0;
							}
						}
					}
				}
			}
		}
	}
	.wpfFilterButtons {
		display: inline-block;
	}
}

body.single .site-content .site-main .related-posts {
	margin: 0 -24px;
	border-top: 2px solid $color-black;
	& > h2 {
		padding: 24px;
		margin: 0;
		border-bottom: 2px solid $color-black;
		background-color: $primary-color;
	}
	.posts {
		max-width: 100%;
		margin: -2px;
	}
}
